<div class="container mt-5">
    <div style="display: flex; align-items: center; justify-content: center;">
        <h1>زمان اسکن فرارسیده است لطفا قبل از شروع عملیات اسکن را اجرا کنید</h1>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <a href="/" class="btn btn-primary mt-3">بازگشت به برنامه</a>
    </div>
</div>